# Dependencies
node_modules/
.pnpm-store/

# Apps script temporary / backup files
.clasp.json

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Environment
.env
.env.local
.env.*.local

# Build output
dist/
build/
